* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header,
footer {
    height: 20vh;
    background-color: yellowgreen;
    padding: 15px;
}

main {
    display: flex;
    height: 60vh;
}

nav,
aside {
    width: 20%;
    padding: 15px;
}

nav {
    background-color:rgb(220, 245, 220) ;
}

aside {
    background-color:beige;
}

article {
    width: 60%;
    padding: 15px;
}

.container {
    display: flex;
    column-gap: 40px;
    width: 100%;
    height: 85%;
}

.btn-container {
    height: 10%;
}

form {
    background-color: beige;
    height: 90%;
}

.formdiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    justify-content:space-between;
    align-items: center;
}

.field {
    display: flex;
}

.flex-item.left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 100%;
}

.field label {
    padding-right: 10px;
}

.field input, select {
    flex: 3;
    height: 35px;
}

.flex-item.right {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
}

input[type="submit"] {
    border: 0;
    padding: 10px;
    background-color: gray;
    color: white;
    margin: 10px;
}

input[type="submit"]:hover {
    cursor:pointer;
}