* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header,
footer {
    height: 15vh;
    background-color: yellowgreen;
    padding: 15px;
}

main {
    display: flex;
    height: 70vh;
}

nav,
aside {
    width: 20%;
    padding: 15px;
}

nav {
    background-color:rgb(220, 245, 220) ;
}

aside {
    background-color:beige;
}

article {
    width: 60%;
    background-color: white;
    padding: 15px;
}

.container {
    display: flex;
    column-gap: 30px;
    width: 100%;
}

form {
    background-color: beige;
    height: 90%;
}

.formdiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    justify-content:space-between;
    align-items: center;
}

.field {
    padding: 10px;
    display: flex;
}

.flex-item.left {
    width: 70%;
}

.field label {
    padding-right: 10px;
}

.field input, select {
    flex: 3;
    padding: 5px;
}

.flex-item.right {
    width: 30%;
    line-height: 35px;
}

input[type="submit"] {
    border: 0;
    padding: 10px;
    background-color: gray;
    color: white;
}

input[type="submit"]:hover {
    cursor:pointer;
}